body, html{
    margin: 0;
    font-family: "Oswald", sans-serif;
    scroll-behavior: smooth;
}
.display_none{
    display: none;
}

.nav{
    position: fixed;   
    top: 0;   
    left: 0;   
    z-index: 9999;   
    width: 100%;   
    height: 70px;   
    background-color: rgba(87, 0, 0, 0.95);
}

.nav_ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.nav_li {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    position:relative;
    list-style-type: none;
    margin: 0 20px;
}

.nav_li::after {
    margin-bottom: -5px;
    position: absolute;
    bottom:0;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
    right: 0;
    left: initial;
}

.nav_li:hover::after {
    margin-bottom: -5px;
    width: 100%;
    right:initial;
    left: 0;
    transition: width .3s;
}

.nav_li a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}

.header{
    width: 100%;
    background-image: url('../images/gif/header_bg.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 720px;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_name_text{
    margin: 0;
    color: #fff;
    font-family: 'Silkscreen', cursive;
    font-weight: 700;
    font-size: 90px;
    letter-spacing: 4px;
}
.section1{
    background-color: #000;
    width: 100%;
    margin: 0;
}
.section1_name{
    background-color: #000;
    height: 190px;
    margin: 0;
    color: #fff;
    font-size: 35px;
    display: flex;
    justify-content: center;
}
.section1_firstline{
    display: flex;
    justify-content: space-around;
}
.section1_secondline{
    display: flex;
    justify-content: space-around;
    margin-top: 90px
}
.section1_linetext{
    margin-top: 90px;
    display: flex;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    flex-direction: column;
    width: 40%;
}
.section1_line1, .section1_line2, .section2_line1, .section3_line1, .section3_line2{
    width: 100%;
    background-color: #fff;
    height: 5px;
}
.section1_text1_text{
    width: 90%;
    margin: 0;
}
.section1_linetext2{
    margin-top: 130px;
    display: flex;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    flex-direction: column;
    width: 41%;
}
.section1_text2_text{
    width: 90%;
    margin: 0;
    text-align: right;
}
.section1_image1{
    width: 693px;
    height: 454px;
}
.section2{
    background-color: #570000;
    background-image: url('../images/bg/section2_bg.png');
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: 0px -3px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    letter-spacing: 2px;
    color: #fff;
    height: 50vw;
}
.section2_axe{
    position: absolute;
    width: 579px;
    height: 484px;
    left: 1258px;
    top: 1978px;
}
.section2_boots{
    width: 618px;
    height: 618px;
    position: absolute;
    left: -50px;
    top: 2500px;
}
.section2_nameline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    width: 600px;
    color: #fff;
    margin: 0;
    margin-top: 90px;
    text-align: center;
}
.section2_name_news{
    margin: 0;
}
.section2_text{
    text-align: left;
}
.section3{
    background-color: #570000;
    font-weight: 500;
    letter-spacing: 2px;
    color: #fff;
    height: 50vw;
}
.section3_nameline{
    width: 40%;
    height: 10px;
    text-align: center;
    font-size: 40px;
}
.section3_name_text{
    margin: 0;
}
.section3_firstline{
    display: flex;
    justify-content: center;
    height: 150px;
}
.section3_secondline{
    display: flex;
    justify-content: center;
}
.section3_block{
    width: 1100px;
    height: 742px;
    border: 4px solid #fff;
}
.section3_thirdline{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.section3_blockline{
    width: 1300px;
}
.slider_images img{
    width: 1100px;
    height: 743px;
}
.slick-next{
    position: relative;
    bottom: 390px;
    left: 1150px;

}
.slick-prev{
    position: relative;
    top: 347px;
    right: 120px;
}
.footer{
    background-color: #570000;
    background-image: url('../images/bg/footer_bg.png');
    background-position: 0px 190px;
    background-repeat: no-repeat;
    height: 892px;
}
.footer_present{
    display: flex;
    justify-content: space-around;
}
.footer_rardios{
    margin-top: 90px;
    text-align: center;
    color: #fff;
    font-size: 45px;
}
.footer_rardios_text{
    margin: 0;
}
.footer_godot{
    margin-top: 90px;
    text-align: center;
    color: #fff;
    font-size: 45px;
}
.footer_godot_text{
    margin: 0;
}
.footer_godot_img{
    margin-top: -40px;
}
.footer_lower{
    display: flex;
    margin-top: 190px;
}
.footer_comingsoon_img{
    width: 50vw;
    position: absolute;
    top: 227vw;
    left: 30px;
}
.footer_socials{
    color: #fff;
    font-size: 20px;
    margin-left: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer_icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer_vk{
   width: 75px;
   height: 75px;
}
.footer_discord{
    width: 90px;
   height: 90px;
    margin-top: -5px;
}
.footer_limitation{
    font-size: 55px;
    font-weight: 700;
    margin: 0;
    margin-top: -5px;
}
.footer_copyright{
    font-size: 30px;
    font-weight: 600;
    margin: 0;

}
.footer_copyright_text{
    text-align: center;
}

.upperbutton_section {
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #DB3138;
    transition: 0.7s;
    animation: uparrowView 0.5s ease-in-out;
}

.upperbutton_section_up {
    transition: 0.7s;
    bottom: 170px;
}

.upperbutton_section_nodisplay {
    transform: translateX(300px);
    animation: uparrowNoView 0.6s ease-in;
}

.upperbutton_link { 
    width: 50px;
    height: 50px; 
    justify-content: center;
    align-items: center;
    display: flex;
}

.upperbutton_img {
    width: 25px;
}

@keyframes uparrowView {
    0% {
        transform: translateX(300px);
    }

    50% {
        transform: translateX(-30px);
    }

    70% {
        transform: translateX(20px);
    }

    90% {
        transform: translateX(-5px);
    }
    
    100% {
        transform: translateX(0px);
    }
}

@keyframes uparrowNoView {
    0% {
        transform: translateX(0px);
    }
    
    100% {
        transform: translateX(300px);
    }
}